* {
  margin: 0;
  box-sizing: border-box;

  border-radius: 8px 8px 8px 8px;
  font-family: 'montserrat', sans-serif;
}

#app {
  background-image: url('./goldengatebridge.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 2s;
}

#app.g {
  background-image: url('./g.jpeg');
  background-position: top;
}

main {
  min-height: 100vh; /* 100% vertical height */
  padding: 25px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.75));
}

.title-label {
    font-size: 24px;
    color: gold;
}

.search-box, .search-bar {
  display: block;
  padding: 5px;
  
  color: #313131;
  font-size: 20px;

  appearance: none;
  border: none;
  outline: none;
  background: none;

  background-color: rgba(255,255,255, 0.5);
  border-radius: 0px 16px 0px 16px;
}

.search-box {
    width: 35%;
    margin-top: 50px;
}

.search-bar {
    width: 100%
}

.search-box, .search-bar:focus {
  background-color: rgba(255,255,255, 0.75)
}

.search-button {
  margin-top: 10px;
  margin-bottom: 80px;
  font-size: 24px;
  background-color: rgba(220, 227, 241, 0.75);
  cursor: pointer;
}

.search-label {
    padding-left: 10px;
    font-size: 18px;
    font-weight: 800;
    color: rgba(231, 119, 125, 0.75);
}

.list-movie-box, .list-movie-item {
  font-size: 32px;
  font-weight: 500;
  text-align: left;
  border-radius: 16px 16px 16px 16px;
  padding: 5px
}

.list-movie-item:hover {
  transform: scale(1.1);
  background-color: gold;
  cursor: pointer;
}

.selected-movie-box {
    display:flex;
}

.selected-movie-info {
  margin-top: 80px;
  margin-right: 20px;
}

.selected-movie-item {
  font-size: 16px;
  text-align: left;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
}

p {
  margin-bottom: 5px;
  white-space: pre;
}

.movie-image {
    border:solid gold;
}

.movie-detail .movie-detail-title {
  white-space: pre;
}

.movie-detail-title {
    font-size:28px;
    text-align: right;
}

.unselected-movie-box {
    margin-top: 80px;
}

.unselected-movie {
    background-color: gold;
    border:solid gold;
}
